{% extends 'base.html' %}
{% load static %}

{% block content %}

<Link rel="stylesheet" href="{% static '/css/feed.css' %}">
  <script src="{% static '/js/feed.js' %}"></script>

  <div class="feed">
    {% csrf_token %}


    {% for post in posts %}
      <div id={{post.id}} class="post">
        <div class="post-header">
          <div class="u-avatar">
            {% if post.author.profile_picture %}
            <img src="{{post.author.profile_picture.url}}" alt="User avatar">
            {% else %}
            <img src="https://tinyurl.com/adbakzw9" alt="Profile picture" />
            {% endif %}
          </div>

          <div class="popup">
            <label>User's status</label>
            <label class="status">{{post.author.status}}</label>
          </div>

          <div class="u-name">
          <a href="{% url 'view_profile' user_id=post.author.id %}">
            <h2>{{ post.author.username }}</h2>
          </a>
          <span class="post-date">{{ post.create_at|date:"D d M Y" }}</span>
        </div>
        </div>
        <div class="post-content">
          {{ post.content }}
          {% if post.image %}
            <img src="{{ post.image.url }}" alt="Post image">
          {% endif %}
        </div>
        <div class="post-reactions">

          <button class="btn btn-link like"><span class="like-count"> {{ post.like_count }} </span>
            <i class="fa-regular fa-thumbs-up"></i>
          </button>

          <button class="btn btn-link dislike"><span class="dislike-count"> {{ post.dislike_count }} </span>
            <i class="fa-regular fa-thumbs-down"></i>
          </button>
          <button class="btn btn-link heart"><span class="heart-count"> {{post.heart_count }} </span>
            <i class="fa-solid fa-fire"></i>
          </button>
        </div>
      </div>
    {% empty %}
      <p>No posts to show.</p>
    {% endfor %}
  </div>
{% endblock %}