{% extends 'base.html' %}
{% load static %}

{% block content %}

<link rel="stylesheet" href="{% static '/css/feed.css' %}">
<script src="{% static '/js/feed.js' %}"></script>

<div class="feed">
    {% for post in posts %}
    <div class="post">
        <div class="post-header">
            <div class="u-avatar">
                {% if post.author.profile_picture %}
                <img src="{{post.author.profile_picture.url}}" alt="User avatar">
                {% else %}
                <img src="https://tinyurl.com/adbakzw9" alt="Profile picture" />
                {% endif %}
            </div>
            <div class="popup">
                <label>User's status</label>
                <label class="status">{{post.author.status}}</label>
            </div>
            <div class="u-name">
              <a href="{% url 'view_profile' user_id=post.author.id %}">
                  <h2>{{ post.author.username }}</h2>
              </a>
              <span class="post-date">{{ post.create_at | date:"d/M H:i" }}</span>
          </div>
      </div>
      <div class="post-content">
          {{ post.content }}
          {% if post.image %}
          <img src="{{ post.image.url }}" alt="Post image">
          {% endif %}
      </div>
      <div class="post-reactions">
          <span class="like">Likes: {{ post.reactions.count }}</span>
          <span class="dislike">Dislikes: {{ post.reactions.count }}</span>
          <span class="heart">Hearts: {{ post.reactions.count }}</span>
      </div>
  </div>
  {% empty %}
    <p>No posts to show.</p>
    {% endfor %}
</div>
{% endblock %}