{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Hercules</title>

    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/css/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static '/css/base.css'%}" />
  </head>
  <body>
    {% include 'navbar.html' %}

    <main class="container-fluid">{% block content %} {% endblock %}</main>

    <footer>
      <p>2024 Hercules Social</p>
      <p>SDGKU - Ch43 Project</p>
    </footer>

    <script 
      src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/js/bootstrap.min.js"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
