{% extends 'base.html' %}
{% load static %} 

{% block content %}

<Link rel="stylesheet" href="{% static '/css/view_profile.css' %}">

<div class="view_profile">

    <div class="profile_image">
        {% if user.profile_picture %}
        <img src="{{user.profile_picture.url}}" alt="Profile picture" />
        {% else %}
        <img src="https://tinyurl.com/adbakzw9" alt="Profile picture" />
        {% endif %}
    </div>
    
    <div class="profile_info">
        <h1>{{ user.username }}</h1>
        <label>Email: {{ user.email }}</label>
        <label>First Name: {{ user.first_name }}</label>
        <label>Last Name: {{ user.last_name }}</label> 
        <label>Birth Date: {{ user.birth_date }}</label>
        <label>Location: {{ user.location }}</label>
    </div>

    <div class="bio">
        <p>Bio: {{ user.profile.bio }}</p>
    </div>

</div>
{% endblock %}
